.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  background: var(--token-gjjD1RnSBjqj8);
  min-width: 0;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 32px;
  }
}
.freeBox__pntrc {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__pntrc > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pntrc > :global(.__wab_flex-container) > *,
.freeBox__pntrc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pntrc > :global(.__wab_flex-container) > picture > img,
.freeBox__pntrc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pntrc {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pntrc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pntrc > :global(.__wab_flex-container) > *,
  .freeBox__pntrc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pntrc > :global(.__wab_flex-container) > picture > img,
  .freeBox__pntrc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__r9W80 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.shieldTextContainer {
  position: relative;
  width: auto;
  height: auto;
  margin-right: 18px;
  display: flex;
  flex-direction: row;
}
.freeBox__oZp9V {
  display: flex;
  position: relative;
}
.slotTargetShieldText {
  font-family: "Lato", sans-serif;
  font-size: var(--token-pGM6kN_go);
  color: var(--token-Se0f4L5T10wDU);
}
.forgeTextContainer {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}
.freeBox__lsNz {
  display: flex;
  position: relative;
}
.slotTargetForgeText {
  font-family: "Lato", sans-serif;
  font-size: var(--token-pGM6kN_go);
  color: var(--token-Se0f4L5T10wDU);
}
.freeBox__os7Mj {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__os7Mj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__os7Mj > :global(.__wab_flex-container) > *,
.freeBox__os7Mj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__os7Mj > :global(.__wab_flex-container) > picture > img,
.freeBox__os7Mj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__os7Mj > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__os7Mj > :global(.__wab_flex-container) > *,
  .freeBox__os7Mj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__os7Mj > :global(.__wab_flex-container) > picture > img,
  .freeBox__os7Mj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button___8XyGu:global(.__wab_instance) {
  position: relative;
}
.svg__exiiQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xatz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__nuYni:global(.__wab_instance) {
  position: relative;
}
.svg__vbqv2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__lq65 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__fAfMm:global(.__wab_instance) {
  position: relative;
}
.svg__aDmeX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__cw6B2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__olm0I:global(.__wab_instance) {
  position: relative;
}
.svg__fU3D5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__hRmEw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ic0MU:global(.__wab_instance) {
  position: relative;
}
.svg__sWkh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ipCi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__lG4Ov {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button___62OZm {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: var(--token-7_yc6EGkHDPWs);
  border-radius: 6px;
  border-width: 0px;
}
.button__dtagD:global(.__wab_instance) {
  position: relative;
}
.svg__iuLbv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__cUrOc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
