.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__zouEa {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.freeBox__zouEa > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__zouEa > :global(.__wab_flex-container) > *,
.freeBox__zouEa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zouEa > :global(.__wab_flex-container) > picture > img,
.freeBox__zouEa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zouEa {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zouEa > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zouEa > :global(.__wab_flex-container) > *,
  .freeBox__zouEa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zouEa > :global(.__wab_flex-container) > picture > img,
  .freeBox__zouEa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__iBjfM {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__iBjfM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__iBjfM > :global(.__wab_flex-container) > *,
.freeBox__iBjfM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iBjfM > :global(.__wab_flex-container) > picture > img,
.freeBox__iBjfM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___332D {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___332D > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___332D > :global(.__wab_flex-container) > *,
.freeBox___332D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___332D > :global(.__wab_flex-container) > picture > img,
.freeBox___332D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__eaQcq {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__eaQcq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__eaQcq > :global(.__wab_flex-container) > *,
.freeBox__eaQcq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eaQcq > :global(.__wab_flex-container) > picture > img,
.freeBox__eaQcq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__kSkPl {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-UwFgsC86hUq8h);
  flex-shrink: 0;
}
.svg__duXN {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-UwFgsC86hUq8h);
  flex-shrink: 0;
}
.svg__lbR9B {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-UwFgsC86hUq8h);
  flex-shrink: 0;
}
