.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 253px;
  height: auto;
  background: var(--token-UwFgsC86hUq8h);
  max-width: 253px;
  border-radius: 14px;
  padding: 25px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.amountInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.amountInputapprove:global(.__wab_instance) {
  display: none;
}
.svg__fao0E {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___7SCjf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.descText {
  font-family: "Lato", sans-serif;
  font-size: var(--token-QihsVZwnM);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-7_yc6EGkHDPWs);
  text-align: center;
  min-width: 0;
}
.descTextapprove {
  display: none;
}
.mintButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(8px + 8px) !important;
}
.mintButtonapprove:global(.__wab_instance) {
  margin-top: calc(8px + 8px) !important;
}
.svg__tdhxM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__m1Dh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
